@import './fonts.css';

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
}

li {
    font-family: 'Bitter';
    font-weight: 400;
    font-size: 34px;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 86px;
    font-weight: 700;
}

h2 {
    font-family: 'Playfair Display';
    font-size: 86px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

#hero .sub_title {
    font-size: 20px;
}

nav a{
    font-size: 24px;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.about {
    font-size: 18px;
    font-weight: 500;
}

blockquote {
    font-family: 'Bitter';
    font-size: 26px;
    font-weight: 400;
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
}

article p {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

#testimonials a{
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}

.testimonials_text{
    font-size: 32px;
}

ul {
    list-style: none;
}

address a{
   color: inherit;
   text-decoration: none; 
   text-transform: uppercase;
}

.footer_logo {
    font-size: 18px;
}

.footer_logo span {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
}

#contact-modal h3 {
    font-size: 22px;
    font-weight: 700;
}

form label {
    font-size: 18px;
    font-weight: 500;
}

button {
    font-family: inherit;
    font-size: 18px;
}
